body { font-family: Verdana,sans-serif; }
h1 { border-bottom: 1px #bbb solid; margin-top: 15px;}
a[href], a[href]:link { color: blue; text-decoration: none; }
a[href]:hover { color: blue; text-decoration: underline; }
.r_footer { font-size: small; font-family: monospace; color: grey; }
.r_document_summary { font-size: small; }
.r_errors { border: 1px solid #BBB; white-space: pre; font-family: monospace; color: red; padding: 0.5em; background-color: #FDD;}
.r_errors_summary { padding: 1em; font-size: 200%; position: absolute; right: 15px; top: 20px; background-color: #FDD; border: solid black;}
.r_main { position: relative; }
.r_warning { background-color: #FBB; }
.r_samereq { color: grey; }
.r_no_error { color: grey; }
.r_nocov {color: grey;}
table { border-collapse:collapse; }
td.r_summary { text-align:right; border-bottom: 1px grey solid; padding-left: 1em; }
td.r_summary_l { text-align:left; border-bottom: 1px grey solid; padding-left: 1em; }
th.r_summary { text-align:center; padding-left: 1em; }
td.r_matrix { text-align:left; border: 1px grey solid; padding-left: 1em; }
th.r_matrix { text-align:left; padding-left: 1em; }
td.r_upstream { border: 1px solid grey; padding: 1em;}
td.r_downstream { border: 1px solid grey; padding: 1em; }
.r_no_coverage { color: grey; }