
body {
    color: black;
    background-color: #eeeee6;
    margin-top: 0;
    font-family: Verdana,sans-serif;
    font-size: small;
    vertical-align: top;
}
a[href], a[href]:link {
  color:blue;
  text-decoration: none;
}
a[href]:hover {
  color:blue;
  text-decoration: underline;
}

h2 {
    border-bottom: 1px solid #DDD;
}
h2:before {
    content: '■ ';
    position: relative;
    bottom: .1em;
    color: #666;
}
.menu {
    float: left;
    margin: 0;
    padding: 0;
    width: 208px;
    font-size: medium;
}
ul, li {
    margin-right: 0;
    padding-right: 0;
}
.menu li {
    list-style: none outside none;
    font-weight: 600;
    padding: 0;
    padding-top: 0.5em;
}
.menu ul {
    padding: 0;
}
.menu_level2 li {
    font-weight: normal;
    font-size: 80%;
    margin-left: 20px;
    padding: 0;
}
.contents h1 {
    font-size: 36px;
    padding-top: 0;
    margin-top: 0;
}
.contents h2 {
    font-size: 18px;
    padding-top: 0;
    margin-top: 2em;
}

.contents h3 {
    font-size: 15px;
}

.contents {
    margin: 0;
    margin-bottom: 1em;
    float: right;
    background-color: white;
    border: solid 1px #ccc;
    padding: 1.5em;
    width: 660px;
    font-size: 14px;
}
li.active {
    color: #4E443C;
}
.header {
    padding-top: 15px;
    margin: 0 auto;
    width: 940px;
}
.header_text {
    padding-left: 1em;
    font-size: 150%;
}
img {
    border: 0;
}
div.header img {
    vertical-align: middle;
}
.page {
    margin: 0 auto;
    width: 940px;
}
.footer {
    margin 1em;
    padding: 1em;
    clear: both;
    color: grey;
    text-align: center;
}
.footer {
    margin-top: 1em;
    /*border-top: 1px solid #ddd;*/
}
pre code {
    background-color: #EEFFCC;
    display: block;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    line-height: normal;
}
.tag, code {
    background-color: #eee;
    border: 1px solid #bbb;
    padding: 0.1em 0.5em 0.1em 0.5em; /* top right bottom left */
    border-radius: 5px;
    line-height: 1.8em;
}

blockquote {
    background-color: #EEE;
    padding: 0.5em;
    padding-top: 1px;
    padding-bottom: 2px;
    border: 1px solid #AAA;
    margin: 0;
    font-size: 80%;
}
blockquote p, blockquote ul {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}
em {
    font-weight: bold;
    font-style: normal;
}
